.material {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../assets/background.jpg);
  color: #fff;
}

.colc {
  background: rgb(0, 121, 107);
}

.is-active {
  font-weight: 500;
}

h2.subtitle {
  font-weight: 200;
}
