<section class="hero is-primary is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img
              src="https://cdn.foreverliving.com/flpi/images/foreverlogogold.png"
              alt="logo"
            />
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a
              routerLinkActive="is-active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/"
              class="navbar-item"
            >
              Product Catalog
            </a>
            <a
              routerLink="subscribe"
              routerLinkActive="is-active"
              class="navbar-item"
            >
              Subscribe
            </a>
            <a class="navbar-item">
              Admin Login
            </a>
            <!-- <span class="navbar-item">
              <a class="button is-primary is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Download</span>
              </a>
            </span> -->
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <img
        src="https://cdn.foreverliving.com/flpi/images/foreverlogogold.png"
        alt="logo"
      />

      <h2 class="subtitle">
        Agent - Kiconco Abigail | 256774072510
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li
            routerLinkActive="is-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/">Overview</a>
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="category/aloe-drinks">Aloe Drinks</a>
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="category/nutritionals">Nutritionals</a>
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="category/weight-management">Weight Management</a>
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="category/bee-products">Bee Products</a>
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="category/personal-and-skincare"
              >Personal &amp; Skin Care</a
            >
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="category/infinite-living"
              >Infinite by Forever Living</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
