.container {
  margin-top: 20px;
}

#catalog {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, auto));
  grid-gap: 40px;
}

@media only screen and (max-width: 800px) {
  #catalog {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, auto));
    grid-gap: 40px;
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #catalog {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 20px;
  }
}
