<div class="container">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Products</p>
        <p class="title">156</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Testimonies</p>
        <p class="title">123K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Health Benefits</p>
        <p class="title">456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Agents</p>
        <p class="title">78</p>
      </div>
    </div>
  </nav>

  <br />
  <hr />
  <div class="columns is-vcentered">
    <div class="column">
      <p class="title">Newsletter</p>
      <p class="subtitle is-4 has-text-grey-light">
        Latest products, testimonies, showcase… stay in the loop!
      </p>
    </div>

    <div class="column">
      <form
        action="https://mail.jgthms.com/subscribe"
        method="POST"
        accept-charset="utf-8"
      >
        <div class="field is-grouped">
          <div class="control has-icons-left is-expanded">
            <input
              type="email"
              value=""
              name="email"
              class="input is-medium is-flat"
              placeholder="email address"
              required=""
            />
          </div>

          <div class="control">
            <button class="button is-medium is-link">
              <strong>Subscribe</strong>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br />
  <hr />
  <p class="subtitle">Follow me on twitter for the latest updates</p>
  <a
    href="https://twitter.com/kiconcoabigail?ref_src=twsrc%5Etfw"
    class="button twitter-follow-button"
    data-show-count="false"
    >Follow @kiconcoabigail</a
  >
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</div>
