<app-loading *ngIf="isloading"></app-loading>

<div *ngIf="!isloading" id="details" class="container">
  <br />
  <div class="columns is-8">
    <div class="column is-one-third">
      <figure class="image image is-square">
        <img [src]="product.imageThumb" />
      </figure>
      <br />
      <p class="subtitle">Contents: {{ product.contents }}</p>

      <p class="subtitle">Suggested Use</p>
      <p>{{ product.directions }}</p>
      <br />
    </div>
    <div class="column">
      <p class="title">{{ product?.name }}</p>

      <p [innerHtml]="product.description"></p>

      <br />
      <hr />
      <div id="benefits">
        <div class="subtitle">Benefits of {{ product.name }}</div>
        <ol type="1">
          <li *ngFor="let item of product.benefits">{{ item }}</li>
        </ol>
      </div>
      <br />
      <hr />
      <div id="ingredients">
        <div class="subtitle">Ingredients</div>
        <p>
          <span *ngFor="let item of product.ingredients">{{
            item + ",  "
          }}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="contact">
  <a href="tel:+256774072510"><i class="fa fa-phone"></i></a>
  <a href="mailto:kiconcoabigail@gmail.com"><i class="fa fa-envelope"></i></a>
  <a href="https://wa.me/+256759079735"><i class="fa fa-whatsapp"></i></a>
</div>
